<h1>GroupCreatePage - Jordan is working here!</h1>

<div class="container">

  <div class="card">
    <div class="card-header bg-success text-light">
      Let's Get Started!
    </div>
    <div class="card-body">
      <h5 class="card-title">Creating a new vacation event</h5>
      <p class="card-text">What locations are you thinking about visiting?</p>

        <form>

          <div class="form-group">
            <label for="city1">City name:</label>
            <textarea class="form-control" id="city1" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city2">City name:</label>
            <textarea class="form-control" id="city2" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city3">City name:</label>
            <textarea class="form-control" id="city3" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city4">City name:</label>
            <textarea class="form-control" id="city4" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city5">City name:</label>
            <textarea class="form-control" id="city5" rows="1"></textarea>
          </div>

        </form>

      <a href="#" class="btn btn-primary btn-block" id="submit">Submit</a>
    </div>
  </div>

</div>

<script type="text/javascript" src="../public/js/creategroup.js"></script>