<div class="container">

<h1>Create-Group Page</h1>
{{!-- 
Temp buttons that will be removed at the end of the projected added them for ease of navigation --}}

<a type="button" class="btn  btn-lg btn-success" href="/">Home</a>
<a type="button" class="btn btn-lg btn-success" href="/login">Login PAGE</a>
<a type="button" class="btn btn-lg btn-success" href="/signup">SignUp PAGE</a>
<a type="button" class="btn  btn-lg btn-success" href="/dashboard">Dashboard Page</button>
<a type="button" class="btn btn-lg btn-success" href="/grouppage">Group Page</a>
<a type="button" class="btn btn-lg btn-success" href="/creategroup">Create Group Page</a>

  <div class="card">
    <div class="card-header bg-success text-light">
      Let's Get Started!
    </div>
    <div class="card-body">
      <h5 class="card-title">Creating a new vacation event</h5>

      <p class="card-text">What locations are you thinking about visiting?</p>

        <form>

          <div class="form-group">
            <label for="city1">City name:</label>
            <textarea class="form-control" id="city1" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city2">City name:</label>
            <textarea class="form-control" id="city2" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city3">City name:</label>
            <textarea class="form-control" id="city3" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city4">City name:</label>
            <textarea class="form-control" id="city4" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city5">City name:</label>
            <textarea class="form-control" id="city5" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="groupName">Name your group:</label>
            <textarea class="form-control" id="groupName" rows="1"></textarea>
          </div>

        </form>

      <a href="#" class="btn btn-primary btn-block" id="submit">Submit</a>
    </div>
  </div>

</div>






<script src="/js/creategroup.js"></script>