{{!-- CSS file link --}}
<link rel="stylesheet" href="/css/creategroup.css">



{{!-- NavBar Start --}}
{{!-- <nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="/">Sonder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pfont" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">

      <div id="user-info"></div>
      <button type="button" class="btn btn-outline-danger btn-sm m-2 logoutbtn">Log Out</button>

    </form>
  </div>
</nav> --}}
<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">


    <div class="sondertitle2 nav-item active pb-3 mx-2" onclick="location.href='/'">Sonder</div>


    <div class="dashboardtitle2 nav-item active text-center mx-4" onclick="location.href='/dashboard'">Dashboard</div>

    <div class="passportinfo" style="display: flex; justify-content: flex-right">
      <div class="nav-item active user-info mx-2" id="user-info">
      </div>

      <button type="button" class="btn btn-outline-danger btn-sm m-2 logoutbtn mx-2 mt-4">Log Out</button>
    </div>
  </div>
</nav>
{{!-- NavBar End --}}
{{!-- NavBar End --}}





<br><br><br><br>




<div class="container form1 hidden">

  <h1>Create-Group Page</h1>
  <div class="card">
    <div class="card-header bg-success text-light">
      Let's Get Started!
    </div>
    <div class="card-body">
      <h5 class="card-title">Creating a new vacation event</h5>

      <p class="card-text">What locations are you thinking about visiting?</p>

      <form>

        <div class="form-group">
          <label for="city1">City name:</label>
          <textarea class="form-control" id="city1" rows="1"></textarea>
        </div>

        <div class="form-group">
          <label for="city2">City name:</label>
          <textarea class="form-control" id="city2" rows="1"></textarea>
        </div>

        <div class="form-group">
          <label for="city3">City name:</label>
          <textarea class="form-control" id="city3" rows="1"></textarea>
        </div>

        <div class="form-group">
          <label for="city4">City name:</label>
          <textarea class="form-control" id="city4" rows="1"></textarea>
        </div>

        <div class="form-group">
          <label for="city5">City name:</label>
          <textarea class="form-control" id="city5" rows="1"></textarea>
        </div>

        {{!-- <div class="form-group">
            <label for="groupName">Name your group:</label>
            <textarea class="form-control" id="groupName" rows="1"></textarea>
          </div> --}}

        {{!-- <div class="form-group">
            <label for="addGroupMembers">Username of a person you want to add to this group:</label>
            <textarea class="form-control" id="addGroupMembers" rows="1"></textarea>
            <br>
            <button class="btn btn-success" id="addMembers">Add this user to your new group</button>
            <br>
              <div class="names">
                <p>Added members:</p>

                <div class="addedMembers"></div>

              </div>

          </div> --}}

      </form>

      <a href="#" class="btn btn-primary btn-block" id="submit">Submit</a>
    </div>
  </div>

</div>

{{!-- Here is the form for adding members to a group, named "addingMembersForm" --}}
<div class="container form2 hidden">
  <div class="card">
    <div class="card-header bg-success text-light">
      Let's Add Group Members!
    </div>

    <div class="card-body">

      <form>

        <div class="form-group" id="adding-members-form">
          <label for="addGroupMembers">Username of a person you want to add to this group:</label>
          <textarea class="form-control" id="addGroupMembers" rows="1"></textarea>
          <br>
          <button class="btn btn-success" id="addMembers">Add this user to your new group</button>
          <br>
          <div class="names">
            <p>Added members:</p>

            <div class="addedMembers"></div>

          </div>

          <button class="btn btn-primary btn-block" id="adding-members-submit">Allow yourself and these members to
            vote</button>

        </div>

      </form>

    </div>

  </div>

</div>



{{!-- here I will insert the grouppage.handlebars form --}}

<div class="container form3 hidden">
  {{!-- <h1>Group Page for ranking preferences</h1> --}}



  <div class="card">
    <div class="card-header bg-success text-light">
      <h1 id="groupNameh1"></h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">supergroup, rank your preferences!</h5>
      <p class="card-text">Assign preferences to your different vacation options.</p>

      <form>
        <div class="form-group">
          <label for="memberPref1">Your Number One Preference:</label>
          <select class="form-control" id="memberPref1">
            <option>Paris</option>
            <option>London</option>
            <option>Orlando</option>
            <option>Shanghai</option>
            <option>Tokyo</option>
          </select>
        </div>

        <div class="form-group">
          <label for="memberRating1">How would you rate your desire to visit this city on a scale from 1-10? (1 being
            "not at all," 10 being "I will die full of regret if I do not visit this city"</label>
          <select class="form-control" id="memberRating1">
            <option>10</option>
            <option>9</option>
            <option>8</option>
            <option>7</option>
            <option>6</option>
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
        </div>

        <div class="form-group">
          <label for="memberPref2">Your Number Two Preference:</label>
          <select class="form-control" id="memberPref2">
            <option>Paris</option>
            <option>London</option>
            <option>Orlando</option>
            <option>Shanghai</option>
            <option>Tokyo</option>
          </select>
        </div>

        <div class="form-group">
          <label for="memberRating2">How would you rate your desire to visit this city on a scale from 1-10? (1 being
            "not at all," 10 being "I will die full of regret if I do not visit this city"</label>
          <select class="form-control" id="memberRating2">
            <option>10</option>
            <option>9</option>
            <option>8</option>
            <option>7</option>
            <option>6</option>
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
        </div>

        <div class="form-group">
          <label for="memberPref3">Your Number Three Preference:</label>
          <select class="form-control" id="memberPref3">
            <option>Paris</option>
            <option>London</option>
            <option>Orlando</option>
            <option>Shanghai</option>
            <option>Tokyo</option>
          </select>
        </div>

        <div class="form-group">
          <label for="memberRating3">How would you rate your desire to visit this city on a scale from 1-10? (1 being
            "not at all," 10 being "I will die full of regret if I do not visit this city"</label>
          <select class="form-control" id="memberRating3">
            <option>10</option>
            <option>9</option>
            <option>8</option>
            <option>7</option>
            <option>6</option>
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
        </div>

        <div class="form-group">
          <label for="memberPref4">Your Number Four Preference:</label>
          <select class="form-control" id="memberPref4">
            <option>Paris</option>
            <option>London</option>
            <option>Orlando</option>
            <option>Shanghai</option>
            <option>Tokyo</option>
          </select>
        </div>

        <div class="form-group">
          <label for="memberRating4">How would you rate your desire to visit this city on a scale from 1-10? (1 being
            "not at all," 10 being "I will die full of regret if I do not visit this city"</label>
          <select class="form-control" id="memberRating4">
            <option>10</option>
            <option>9</option>
            <option>8</option>
            <option>7</option>
            <option>6</option>
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
        </div>

        <div class="form-group">
          <label for="memberPref5">Your Number Five Preference:</label>
          <select class="form-control" id="memberPref5">
            <option>Paris</option>
            <option>London</option>
            <option>Orlando</option>
            <option>Shanghai</option>
            <option>Tokyo</option>
          </select>
        </div>

        <div class="form-group">
          <label for="memberRating5">How would you rate your desire to visit this city on a scale from 1-10? (1 being
            "not at all," 10 being "I will die full of regret if I do not visit this city"</label>
          <select class="form-control" id="memberRating5">
            <option>10</option>
            <option>9</option>
            <option>8</option>
            <option>7</option>
            <option>6</option>
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
        </div>

        <a href="#" class="btn btn-primary btn-block" id="submit-prefs">Submit</a>
      </form>
    </div>
  </div>

</div>

<div class="container thankYou hidden">
  <h3>Thank you for voting! The group leader will tally all votes once everyone has voted.</h3>
</div>

<div class="container" id="tally-button-div">
  <button class="btn-warning btn-block" id="tally-votes-button">Tally the votes of all group members. Only click this
    button if everyone in your group has voted!</button>
</div>




  <script src="/js/creategroup.js"></script>