{{!-- CSS file link --}}
<link rel="stylesheet" href="/css/dashboard.css">



{{!-- NavBar Start --}}
<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="/">Sonder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pfont" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">

      <div id="user-info"></div>
      <button type="button" class="btn btn-outline-danger btn-sm m-2 logoutbtn">Log Out</button>

    </form>
  </div>
</nav>

{{!-- NavBar End --}}


<h1>Dashboard</h1>
<div class="container">
  <div class="buttonspersonal">
    <button class="createGroup" data-target=".bd-example-modal-lg" data-toggle="modal">Create Group</button>
    <button class="joinGroup">Join Group</button>
  </div>
</div>


{{!-- Modal Code --}}
<div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card mb-4 border-dark">
        <h4 class="card-header text-light bg-dark text-center">
          Create A New Group!
        </h4>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="name">Group Name</label>
              <input type="text" class="form-control" id="newgroupname-input" placeholder="Enter Group Name">
            </div>
            <button type="submit" class="btn btn-primary submitcreategroup" id="submit-btn">Create Group</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</br></br></br></br></br></br></br>
{{!-- 
Temp buttons that will be removed at the end of the projected added them for ease of navigation --}}
<h1>Development Buttons</h1>
<a type="button" class="btn  btn-lg btn-success" href="/">Home</a>
<a type="button" class="btn btn-lg btn-success" href="/login">Login PAGE</a>
<a type="button" class="btn btn-lg btn-success" href="/signup">SignUp PAGE</a>
<a type="button" class="btn  btn-lg btn-success" href="/dashboard">Dashboard Page</button>
  <a type="button" class="btn btn-lg btn-success" href="/grouppage">Group Page</a>
  <a type="button" class="btn btn-lg btn-success" href="/creategroup">Create Group Page</a>



  <script src="/js/dashboard.js"></script>