<h1>GROUPPAGE - Jordan is working here! This form is mostly copied from the creategroup handlebars form, still gotta edit it for the purposes of this page!</h1>

<div class="container">

  <div class="container">

  <div class="card">
    <div class="card-header bg-success text-light">
      -insert group name here-
    </div>
    <div class="card-body">
      <h5 class="card-title">Rank your preferences!</h5>
      <p class="card-text">Assign preferences to your different vacation options.</p>

        <form>

          <div class="form-group">
            <label for="city1">City name:</label>
            <textarea class="form-control" id="city1" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city2">City name:</label>
            <textarea class="form-control" id="city2" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city3">City name:</label>
            <textarea class="form-control" id="city3" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city4">City name:</label>
            <textarea class="form-control" id="city4" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city5">City name:</label>
            <textarea class="form-control" id="city5" rows="1"></textarea>
          </div>

        </form>

      <a href="#" class="btn btn-primary btn-block" id="submit">Submit</a>
    </div>
  </div>

</div>


</div>