<div class="container">

  <h1>Group Page for ranking preferences</h1>
  {{!-- 
Temp buttons that will be removed at the end of the projected added them for ease of navigation --}}

  <a type="button" class="btn  btn-lg btn-success" href="/">Home</a>
  <a type="button" class="btn btn-lg btn-success" href="/login">Login PAGE</a>
  <a type="button" class="btn btn-lg btn-success" href="/signup">SignUp PAGE</a>
  <a type="button" class="btn  btn-lg btn-success" href="/dashboard">Dashboard Page</button>
    <a type="button" class="btn btn-lg btn-success" href="/grouppage">Group Page</a>
    <a type="button" class="btn btn-lg btn-success" href="/creategroup">Create Group Page</a>


    <div class="card">
      <div class="card-header bg-success text-light">
        <h1>INSERT GROUP NAME HERE</h1>
      </div>
      <div class="card-body">
        <h5 class="card-title">Rank your preferences!</h5>
        <p class="card-text">Assign preferences to your different vacation options.</p>

        <form>

          <div class="form-group">
            <label for="city1">City name:</label>
            <textarea class="form-control" id="city1" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city2">City name:</label>
            <textarea class="form-control" id="city2" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city3">City name:</label>
            <textarea class="form-control" id="city3" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city4">City name:</label>
            <textarea class="form-control" id="city4" rows="1"></textarea>
          </div>

          <div class="form-group">
            <label for="city5">City name:</label>
            <textarea class="form-control" id="city5" rows="1"></textarea>
          </div>

          <a href="#" class="btn btn-primary btn-block" id="submit">Submit</a>
        </form>
      </div>
    </div>

</div>



<script src="/js/grouppage.js"></script>