<h1>Login Page</h1>{{!-- 
Temp buttons that will be removed at the end of the projected added them for ease of navigation --}}

<a type="button" class="btn  btn-lg btn-success" href="/">Home</a>
<a type="button" class="btn btn-lg btn-success" href="/login">Login PAGE</a>
<a type="button" class="btn btn-lg btn-success" href="/signup">SignUp PAGE</a>
<a type="button" class="btn  btn-lg btn-success" href="/dashboard">Dashboard Page</button>
<a type="button" class="btn btn-lg btn-success" href="/grouppage">Group Page</a>
<a type="button" class="btn btn-lg btn-success" href="/creategroup">Create Group Page</a>


<div class="container nan">
 
</div>

 <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-4">
        <h3>Log In</h3>
        <form id="login-form">
          <div class="form-group">
            <label for="email">e-mail Address</label>
            <input type="text" class="form-control" id="email-input">
          </div>
          <div class="form-group">
            <label for="Password">Password </label>
            <input type="password" class="form-control" id="password-input">
          </div>
          <div class="form-group loginbutton">
            <button type="submit" class="btn btn-primary" id = "logInBtn">Log In</button>
            <br>
            <br>
            <a class="nav-item nav-link" href="signup">  Need an account ? => Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </div>



<script src="/js/login.js"></script>
