<h1>SignUp</h1>
{{!-- 
Temp buttons that will be removed at the end of the projected added them for ease of navigation --}}

<a type="button" class="btn  btn-lg btn-success" href="/">Home</a>
<a type="button" class="btn btn-lg btn-success" href="/login">Login PAGE</a>
<a type="button" class="btn btn-lg btn-success" href="/signup">SignUp PAGE</a>
<a type="button" class="btn  btn-lg btn-success" href="/dashboard">Dashboard Page</button>
<a type="button" class="btn btn-lg btn-success" href="/grouppage">Group Page</a>
<a type="button" class="btn btn-lg btn-success" href="/creategroup">Create Group Page</a>



<script src="/js/signup.js"></script>
